/*
@font-face {                                                                                                             
font-family: 'MEgalopolisRegular';                                                                                     
src: url('/images/megalopolis-webfont.eot'); 
src: local('MEgalopolisRegular'), url('/images/megalopolis-webfont.woff') format('woff'), url('/images/megalopolis-webfont.ttf') format('truetype'), url('/images/megalopolis-webfont.svg#webfont4EEtJlXE') format('svg');
}  
*/

#content {
padding:20px;
}

#intro {
text-align:center;margin:20px auto 10px auto;border:1px solid #ccc;width:50%;
padding:10px 0;
background:#f9fff9;
-moz-border-radius:18px;
-webkit-border-radius:18px;
}

#intro>div.hr {
width:100%;
height:1px;
background:#ccc;
border:none;
padding:0;
margin:0;
}

#loginInfo {
background:url('/images/gradientDarkBottom.png') bottom;
margin:0 auto;
padding:20px 0;
border:1px solid #efefef;
-moz-border-radius:16px;
-webkit-border-radius:16px;
border-radius:16px;
width:100%;
}
#loginInfo>tbody>tr {
vertical-align:middle;
}

#features {
margin:30px auto;
width:80%;
font-size:110%;
text-align:center;
}

#features>table {
padding:0;
margin:0 auto;
}

#features>table>tbody>tr{
vertical-align:top;
}

#features>h1 {
font-size:130%;
margin:0;
}
#features ul{
list-style-type:none;
padding:0;
}
#features ul>li{
padding:18px 0;
}

.linkNoDec, .indexButton {
text-decoration:none;
border:none;
}

.indexButton>img{
margin:0px 40px;
text-decoration:none;
/*border:1px solid #f9fff9;*/
padding:17px;
-moz-border-radius:12px;
-webkit-border-radius:12px;
border:none;
}
.indexButton>img:hover {
background:#eae7f5;
border:1px solid #54419e;
padding:16px;
}

.bullets{
  font-size:150%;
}
.advntg {
color:#499c49;
}

#loggedInInfo {
padding:12px;
font-size:110%;
}

#shorty {
margin:10px;
font-size:90%;
background:#fff;
padding:10px;
border:1px dashed #eee;
}
#shorty>p{
margin:.2em;
}

#signInTd {
border-right:1px dotted #aaa;
width:50%;
}

.shortFeature {
border-bottom:1px dotted #aaa;
padding:40px 10px 10px 0px;
color:#657b9c;
text-shadow:0 1px 0 #fff, 0 -1px 0 #123;
font-family: 'Vollkorn', serif;
font-size:150%;
font-weight:bold;
}
/*
.shortFeature:hover {
color:#00255d;
}
*/

.longFeature {
text-align:left;
border-bottom:1px dotted #aaa;
padding:40px 0px 10px 10px;
color:#999;
font-size:80%;
}

.featureTopRow {
padding-top:0;
}

.gapFeature {
width:4%;
}

.featureShown {
color:#00255d;
}

#featureDescr {
margin:30px auto;
}

.countDigit {
background:#666;
padding:2px;
margin:0 1px 0 0;
color:#fff;
font-weight:bold;
}

#userCount {
margin:0 0 4px 0;
}
#imgCount {
margin:16px 0 4px 0;
}
#userCountDescr, #imgCountDescr {
margin:4px;
color:#555;
}
